@import "tailwindcss";

.container {
    @apply flex flex-col items-center justify-center min-w-full px-5;
    @apply py-10 xl:py-20 bg-gray-950;
}

.icon {
    @apply text-[#e60e0e]
}

.title {
    @apply text-lg xl:text-xl font-bold text-white uppercase;
}
