@import "tailwindcss";

.text {
  @apply text-xl xl:text-3xl font-semibold text-[#e60e0e] mb-2 capitalize;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.9)
}

.button {
  @apply bg-gradient-to-r from-[#e60e0e] to-red-700 hover:from-red-700 hover:to-red-800 text-white px-5 py-4 rounded-lg xl:text-xl font-semibold transition-all duration-300 transform hover:scale-105 shadow-lg uppercase;
}

.icon {
  @apply text-[#e60e0e]
}

.cardContent {
  @apply bg-transparent p-4 xl:p-8 rounded-xl border-2 border-gray-600/50 hover:border-red-400 transition-all duration-300 hover:transform hover:scale-105;
  
}
