@import "tailwindcss";

.headerButton {
  @apply bg-[#e60e0e] hover:bg-red-700 text-white uppercase px-8 py-2 rounded-lg text-lg font-semibold transition-all duration-300 transform hover:scale-105 shadow-lg;
}
