@import "tailwindcss";

.anywhere {
  @apply block text-[#e60e0e];
}

.anywhereAnytime {
  @apply text-2xl xl:text-4xl flex py-6 gap-6 justify-center;
}

.accuracy,
.weight {
  @apply text-xl xl:text-3xl font-bold text-[#e60e0e] mb-2;
}

.contentWrapper {
  @apply relative z-10 max-w-6xl mx-auto px-6 text-center text-white mb-20;
}

.button {
  @apply bg-[#e60e0e] hover:bg-red-700 text-white uppercase px-8 py-4 rounded-lg text-sm xl:text-[16px] font-semibold transition-all duration-300 transform hover:scale-105 shadow-lg;
}

.title {
  @apply text-3xl xl:text-5xl font-semibold mb-6 mt-28 xl:mt-40 leading-relaxed;
}

.description {
  @apply text-lg xl:text-2xl mb-8 max-w-5xl mx-auto leading-relaxed text-white;
}

.buttonWrapper {
  @apply flex flex-col xl:flex-row gap-4 justify-center mb-12;
}

.stats {
  @apply grid grid-cols-1 md:grid-cols-3 gap-4 max-w-4xl mx-auto;
}

.text {
  @apply text-white uppercase text-[16px] xl:text-xl leading-relaxed;
}
