@import "tailwindcss";

.listBullets {
    @apply list-disc list-inside xl:text-2xl;
}

.listBullets li::marker {
    @apply text-red-800 text-lg xl:text-xl leading-0;
}

.icon {
    @apply text-[#e60e0e]
}